@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    font-family: Roboto;
    font-weight: 600;
}
body {
    min-height: 800px;
}
ul li a {
   color: white;
   text-decoration: none;
}
ul li {
    margin-bottom: 20px;
    display: inline-block;
}
ul li a:hover {
    background-color: rgb(73, 86, 109);
     font-size: 17px;
     padding: 8px 8px 8px 8px;
     border-radius: 5px;
     transition: all 0.3s;
 }
li {
    list-style-type: none;
}
.mode{
border-radius: 10px;
padding: 3px 3px 3px 3px;
}

header {
    color: white;
 margin-bottom: 50px;
  background-color: rgb(38, 46, 61);
  border-radius: 0px 0px 20px 20px;
}
header h1 {
    text-align: center;
}
.nav-h1 {
    margin-bottom: 20px;
    padding-top: 20px;
 }
ul {
    display: flex;
    justify-content: space-around;
}
section img {
    width: 300px;
    height:300px ;
    position: absolute;
    left: 50px;
    top: -30px;
    border-radius: 12px;
}
section {
    width: 400px;
    height: 350px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 12px;
    box-shadow: 5px 5px 25px rgb(190, 190, 190) ;
transition: all 1s;
}

section:hover {
    height: 400px;
}
.container {
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
opacity: 0; 
transition: all 1s;
display: flex;

}
section:hover .container {
    opacity: 1;

}
.section-2 {
    margin-bottom: 200px;
}
section:hover img {
    top: -60px;
    transition: all 1s;
    border-radius: 50%;
    transform: rotate(360deg);
}
.all-section{
    display: flex;

}
